<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    <div class="site-wrapper" id="entire">
      {% include header_post.html %}
  
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </div>
      
    {% include footer.html %}

  </body>
  <script type="text/javascript">
    var footer = document.getElementById('footer');
    var h = footer.getBoundingClientRect().height;
    document.getElementById('entire').style.marginBottom = -h + 'px';
    
  </script>
  
</html>
